<div style="text-align:center">
  <h1>Welcome to {{ title | uppercase }}</h1>
  <h1>My cat's name backwards is {{ kitty | merlin }}</h1>
</div>

<div class="formwidth fluid-container">
  <div class="formwidth fluid-container">
    <div class="row">
      <div class="col-md-3">
        Name:
      </div>
      <div class="name col-md-3">
        <span>{{ name | titlecase }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        Phone Number:
      </div>
      <div class="number col-md-3">
        {{ phNumber | phonenumber }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        Address:
      </div>
      <div class="name col-md-3">
        <span>{{ address | lowercase }}</span>
      </div>
    </div>
  </div>
</div>
